/* 
FILENAME: IEhacks.css
TITLE: Secondary stylesheet containing all Internet Explorer hacks for SalesEdge.ca
LAST MODIFIED: 11.12.2007
AUTHOR: Matthew Anderson > matthew.anderson.design@gmail.com
*/

/* Hides from IE-Mac \*/

html body {
	font-size: 10px;
}

* html, ul.sections_list li, ul.selections_list li { /* Gives layout to IE6 and under for self-clearing floats */
	height: 1%;
}

*:first-child+html, ul.sections_list li, ul.selections_list li { /* IE7 still can't handle self-clearing floats properly */
	min-height: 1px;
}

blockquote { /* Gives layout to IE6 and under to prevent exploding blockquotes */
	height: 1%;
}

* { behavior: url(/css/iepngfix.htc); } /* Adds near-native PNG support with full alpha opacity to IE6 and earlier */

/* End hide from IE-Mac */