/* 
FILENAME: master.css
TITLE: Master stylesheet for SalesEdge.ca
AUTHOR: Matthew Anderson > matthew.anderson.design@gmail.com
LAST MODIFIED: 11.13.2007
*/

/* 
HIERARCHY:
	=GLOBALS
	=HEADER
	=MENU GLOBALS
	=PRIMARY MENU
	=LAYOUT
	=HEADLINES
	=ELEMENTS
	=FOOTER	
*/

/* =GLOBALS */

.hide {
	display: none;
}

a {
	outline: 0;
}

body {
	background: #f0ebd8;
/*	background: #fff url(../images/grid_h.gif) 21px repeat;*/
/*	background: #fff url(../images/grid_v.gif);*/
	font: normal 65% 'Helvetica Neue', Helvetica, Arial, sans-serif; /* normalize font size across browsers */
	line-height: 18px;	
	color: #444;
}
	
a:link, a:visited {
	background-color: inherit;
	font-weight: bold;
	text-decoration: underline;
	color: #000;
}
	
a:hover, a:active {
	background-color: inherit;
	color: #aa312d;
}

/* =HEADER */

#header {
	background: #922317 url(../images/bg_header.png) repeat-x;
	padding: 36px 0;
	text-align: center;
}

#logo span {
	display: block;
	background: url(../images/logo_salesedge_rev.png) no-repeat;
	margin: 0 auto;
	width: 223px;
	height: 54px;
}
	
#logo img  {
	display: none;
	width: 0;
}

/* =MENU GLOBALS */

#menu_bar {
	background: #fdf8ed url(../images/bg_menu_bar.png) repeat-x;
	font: normal 1.2em Palatino, Georgia, serif;
	color: #000;
	height: 54px;
}

ul#menu_primary, ul#menu_secondary {
	clear: both;
	margin: 0 auto;
	width: 966px;
	list-style: none;
}

ul#menu_primary li, ul#menu_secondary li {
	float: left;
	margin: 0;
	padding: 0;
}

/* =PRIMARY MENU */

ul#menu_primary a {
	display: block;
	padding: 0 36px 18px 0;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 36px;
	text-decoration: none;
}

ul#menu_primary a:link, ul#menu_primary a:visited {
	color: #000;
}

ul#menu_primary a:hover, ul#menu_primary a:active {
	color: #444;
}

.home ul#menu_primary #menua_home a,
.about_us ul#menu_primary #menua_about_us a,
.clients ul#menu_primary #menua_clients a,
.services ul#menu_primary #menua_services a,
.faq ul#menu_primary #menua_faq a,
.contact_us ul#menu_primary #menua_contact_us a {
	background:  url(../images/bg_menu_selected.png) 25% 0 no-repeat;
	color: #aa312d;
}

/* =LAYOUT */

#wrapper {
	clear: both;
	margin: 0 auto;
	width: 966px;
}

#content {
	float: left;
	width: 656px;
}

.privacy_policy #content {
	width: 966px;
}

.sidebar {
	float: right;
	width: 287px;
}

.sidebar .interior {
	background: #e5e0ce;
	margin-bottom: 18px;
	padding: 0 17px;
	border: 1px solid #bab6a8;
}

/* =HEADLINES */

h1 {
	margin: 27px 0 9px 0;
	font: normal 2.2em Palatino, Georgia, serif;
	color: #aa312d;
}

h2 {
	margin: 27px 0 9px 0;
	font: normal 1.6em Palatino, Georgia, serif;
	color: #000;
}

h3 {
	font-size: 1.3em;
	line-height: 18px;
}

.intro {
	margin: 18px 0;
	font: normal 1.4em Palatino, Georgia, serif;
	color: #000;
}

/* =ELEMENTS */

p, #content ul, #content ol {
	margin-bottom: 18px;
	font-size: 1.3em;
}

.sidebar img {
	display: block;
	margin-bottom: 18px;
}

hr {
	clear: both;
	display: block;
	height: 2px;
	margin: 18px 0;
	border: 0;
	border-top: 1px solid #bab6a8;
	border-bottom: 1px solid #fff;
}

/* =FORMS */

legend { /* Replicated H2 styling */
	margin: 27px 0 9px 0;
	font: normal 1.6em Palatino, Georgia, serif;
	color: #000;	
	}

legend span { /* Corrects legend from running outside the lines */
	display: block;
	width: 602px;
}

form ol, form ul {
	list-style: none;
	margin: 0;
}

form li {
	clear: both;
	margin-bottom: 16px;
	padding: 0;
}

label {
	display: block;
	float: left;
	line-height: 18px;
	margin-right: 18px;
	text-align: right;
	width: 105px;
}

label:after {
	content: ':';
}

li input, textarea, select {
	background: #fff;
	width: 249px;
	padding: 1px;
	font: normal 1em 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border: 1px solid #bab6a8;
}

select {
	background: #fff;
	width: 253px; /* input width + input padding + 2px */
}

input:focus, textarea:focus, select:focus {
	background: #e5e0ce;
}

input.submit {
	margin-left: 123px;
	padding: 9px;

}

/* =FOOTER */

#footer p {
	line-height: 0;
	font-size: 1.1em;
	text-align: center;
}