/* 
FILENAME: ie.css
DESCRIPTION: This stylesheet serves hacks for http://salesedge.ca
AUTHOR: Matthew Anderson > http://matthew-anderson.net
*/

/* Hides from IE-Mac \*/

#billboard .button { display: inline; } /* Faux inline-block */

/* End hide from IE-Mac */