/* 
FILENAME: ie.css
DESCRIPTION: This stylesheet serves hacks for http://salesedge.ca
AUTHOR: Matthew Anderson > http://matthew-anderson.net
*/

/* Hides from IE-Mac \*/

#billboard .button {
  background-color: rgb(179, 179, 179);
  border-color: rgb(162, 162, 162);
}

/* End hide from IE-Mac */