// Global Variables for colors and breakpoints.

// COLORS

$red: #af3325;
$tan: #f0ebd8;

// BREAKPOINTS

$retina: min-resolution 2dppx;
$mobile-only: max-width 767px;
$tablet: 768px;
$desktop: 1200px;
$widescreen: 1601px;
