@import 'node_modules/normalize.css/normalize';

body {
  background: #f0ebd8 url(../images/bg.jpg);
  font: normal 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #444;
  text-shadow: 0 1px rgba(255, 255, 255, .6);
}

a:link, a:visited {
  font-weight: bold;
  text-decoration: underline;
  color: #000;
}

a:hover, a:active { color: #aa312d; }

/* =FLOATS */

nav:after, #wrapper:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
}

/* =HEADER */

header {
  background: #af3325 url(../images/bg_header.png) repeat-x;
  border-bottom: 1px solid rgba(255, 255, 255, .075);
  padding: 33px 0 32px 0;
  text-align: center;
}

header h1 { margin: 0; }

header a {
  background: url(../images/logo_salesedge_rev.png) no-repeat;
  display: block;
  height: 54px;
  margin: 0 auto;
  text-indent: -9999px;
  width: 223px;
}

/* =NAV */

nav {
  background: #772319;
  border-top: 1px solid #5b1a13;
  border-bottom: 1px solid #5b1a13;
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, .15);
  text-align: center;
}

nav ul { margin: 0; }

nav ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav a:link, nav a:visited {
  display: block;
  color: rgba(255, 255, 255, .6);
  font-weight: normal;
  line-height: 20px;
  padding: 9px 20px;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, .3);
}

nav a:hover { color: #fff; }

.home #home a, .about #about a, .clients #clients a, .services #services a, .faq #faq a, .contact_us #contacts a {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px rgba(0, 0, 0, .6);
}

/* =WRAPPER */

#wrapper {
  border-top: 1px solid rgba(255, 255, 255, .6);
  padding-top: 29px
}

/* =ASIDE */

aside {
  color: rgba(0, 0, 0, .5);
  margin-top: 10px;
}

aside h2, aside .inner { border: 3px double rgba(0, 0, 0, .05); }

aside h2 {
  background: rgba(0, 0, 0, .1);
  margin: 0;
  padding: 17px 12px;
}

aside .inner {
  background: rgba(0, 0, 0, .05);
  border-top: 0;
  margin-bottom: 20px;
  padding-top: 10px;
}

aside h3 {
  color: #444;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  padding: 0 12px 0;
  text-transform: none;
}

aside p { font-size: 12px; }
aside p, aside ul { padding: 0 12px; }

/* =FOOTER */

footer {
  background: rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  border-top: 1px solid rgba(0, 0, 0, .05);
  color: rgb(149, 146, 134);
  color: rgba(0, 0, 0, .4);
  clear: both;
  padding: 19px 0;
  text-align: center;
}

footer .inner { padding: 20px 0;   }

footer p {
  font-size: 12px;
  margin-bottom: 0;
  text-align: center;
}

footer a:link, footer a:visited {
  color: rgb(96, 94, 86);
  color: rgba(0, 0, 0, .6);
}

/* =HEADINGS */

h1 {
  color: #af3219;
  font: normal 30px/30px Palatino, Georgia, serif;
}

h2 {
  color: #000;
  font: normal 20px/20px Palatino, Georgia, serif;
  margin: 30px 0 10px 0;
}

h3 {
  color: rgb(155, 152, 139);
  color: rgba(0, 0, 0, .4);
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* =ELEMENTS */

p, ul, ol { margin-bottom: 20px; }

.bulleted li {
  list-style-type: disc;
  margin-left: 1.25em;
}

.sidebar img {
  display: block;
  margin-bottom: 18px;
}

/* =BUTTONS */

.buttons .button {
  background-color: rgb(192, 188, 172);
  background-color: rgba(0, 0, 0, .1);
  border: 3px double rgb(173, 169, 155);
  border: 3px double rgba(0, 0, 0, .1);
  color: rgb(137, 136, 132);
  color: rgba(0, 0, 0, .4);
  display: inline-block;
  font-size: 10px;
  margin-bottom: 20px;
  padding: 2px 10px;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, .6);
  text-transform: uppercase;
}

.buttons a.button:hover {
  background-color: rgb(216, 211, 194);
  background-color: rgba(0, 0, 0, .05);
  border: 3px double rgb(194, 190, 174);
  border: 3px double rgba(0, 0, 0, .1);
  color: rgb(143, 142, 138);
  color: rgba(0, 0, 0, .4);
}

.buttons a.button:active {
  background-color: rgb(192, 188, 172);
  background-color: rgba(0, 0, 0, .2);
  border-color: transparent;
  color: rgb(137, 136, 132);
  color: rgba(0, 0, 0, .6);
}

/* =HOME */

#billboard {
  background: #fff url("../images/billboard.jpg") no-repeat;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .6);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .6);
  box-shadow: 0 0 3px rgba(0, 0, 0, .6);
  height: 400px;
  text-shadow: 0 1px #fff;
  width: 960px;
}

#billboard a {
  display: block;
  height: 400px;
  text-decoration: none;
}

#billboard h1, #billboard h2, #billboard .buttons { margin: 0 40px; }

#billboard h1 {
  font-size: 40px;
  padding-top: 120px;
}

#billboard h2 {
  border: 0;
  color: rgba(0, 0, 0, .8);
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 0;
}

#billboard .buttons { margin-top: 100px; }

#billboard .button {
  background: none;
  border-color: rgb(160, 160, 160);
  border-color: rgba(0, 0, 0, .1);
  font-size: 13px;
  font-weight: bold;
}

.home h2 {
  border-bottom: 3px double rgb(216, 211, 194);
  border-bottom: 3px double rgba(0, 0, 0, .1);
  color: rgb(107, 105, 96);
  color: rgba(0, 0, 0, .6);
  line-height: 30px;
  margin: 0;
  padding: 30px 0 27px 0;
}

.home h3 { margin-top: 20px; }

/* =TESTIMONIALS */

.testimonials li {
  display: table;
  margin-bottom: 20px;
  position: relative;
}

.testimonials .alpha { clear: both; }

.testimonials blockquote {
  border: 3px double rgba(0, 0, 0, .1);
  display: table-cell;
  height: 120px;
  vertical-align: middle;
}

.testimonials .tall { height: 160px; }

q {
  display: block;
  font: normal 15px Palatino, Georgia, serif;
  padding: 0 17px;
}

cite {
  background: rgba(0, 0, 0, .05);
  bottom: 3px;
  color: rgba(0, 0, 0, .4);
  display: block;
  font-style: normal;
  left: 3px;
  padding: 2px 17px;
  position: absolute;
  width: 260px;
}

/* =SLIDESHOW */

.slideshow {
  border: 1px solid #bab6a8;
  height: 98px;
  margin-bottom: 20px;
  width: 298px;
}

/* =CONTACT US */

.vcard .inner { padding: 10px; }

/* =FORMS */

.contact_us #wrapper h1 { display: none; }

legend { /* Replicated H2 styling */
  margin: 27px 0 9px 0;
  font: normal 1.6em Palatino, Georgia, serif;
  color: #000;
}

legend span { /* Corrects legend from running outside the lines */
  display: block;
  width: 602px;
}

form ol, form ul {
  list-style: none;
  margin: 0;
}

form li {
  clear: both;
  margin-bottom: 16px;
  padding: 0;
}

label {
  display: block;
  float: left;
  line-height: 18px;
  margin-right: 18px;
  text-align: right;
  width: 105px;
}

label:after {
  content: ':';
}

li input, textarea, select {
  background: #fff;
  width: 249px;
  padding: 1px;
  font: normal 1em 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border: 1px solid #bab6a8;
}

select {
  background: #fff;
  width: 253px; /* input width + input padding + 2px */
}

input:focus, textarea:focus, select:focus {
  background: #e5e0ce;
}

input.submit {
  margin-left: 123px;
  padding: 9px;

}