/* 
FILENAME: forms.css
TITLE: Forms stylesheet called for registration, contact and directions on LikewiseSoftware.com
LAST MODIFIED DATE: 11.13.2007
*/

/* =FORM GLOBALS */

legend { /* Replicated H2 styling */
	margin: 27px 0 9px 0;
	font: normal 1.6em Palatino, Georgia, serif;
	color: #000;	
	}

legend span { /* Corrects legend from running outside the lines */
	display: block;
	width: 602px;
}


form ol li {
	margin-top: 18px;
}

label {
	display: block;
	margin-left: 18px;
	line-height: 18px;
	font-size: 1.3em;
	font-weight: bold;
	color: #083e61;
}

.radio label, .checkbox label {
	display: inline;
	color: #50565d;
}

.radio label input {
	position: relative;
	top: 2px;
	width: auto;
}

form ol li input, textarea {
	margin-left: 18px;
	padding: 1px 0 0 1px;
	font: normal 1.3em 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

form ol li input {
	width: 287px;
}

form ol li textarea {
	clear: both;
	width: 610px;
}


form ol li select {
	margin-top: -1px; /* Corrects border explosion */
	margin-left: 18px;
	width: 291px; /* Proper width +4px */
	font: normal 1.3em 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input.submit {
	clear: both;
	margin-left: 18px;
}

form em {
	font-size: 1.6em;
	font-weight: bold;
	vertical-align: top;
	color: #c30;
}

.highlight {
	border: 2px solid #c30;
}

input:focus, textarea:focus, select:focus {
	background: #f4f8fb;
}

.highlight:focus {
	background: #faeae5;
}

/* =REGISTER FORM */

#register_form li {
	float: left;
	width: 328px;
}

#register_form .thinner li, #register_form li.thinner {
	width: 164px;
}

#directions_form {
	margin-bottom: 18px;
}

#promo_information {
	margin-bottom: 18px;
}

#contact_information {
	margin-bottom: 18px;
}

#additional_questions {
	margin-top: 18px;
}

#comments {
	margin-bottom: 18px;
}

legend.secondary {
	margin-bottom: 18px;
}

fieldset.radio, fieldset.checkbox {
	margin-bottom: 18px;
}

input#state, input#zip {
	width: 122px;
}

#checkFormError {
	background: #faeae5;
	margin: 0 18px 18px 18px;
	padding: 9px;
	text-align: left;
	border-top: 1px solid #c30;
	border-bottom: 1px solid #c30;
}
	
#checkFormError p {
	background: #faeae5 url(/images/icon_alert.png) center no-repeat;
	background-position: 0 50%;
	width: 539px;
	margin-bottom: 0;
	padding-left: 27px;
}

#checkFormError ul {
	margin-top: 18px;
	margin-bottom: 0;
	padding-left: 18px;
	}